<center id="#top"><h1><%= I18n.t("termos.index.title") %></h1></center>

<p class="more-info"><%= I18n.t("general.updated_at", :date => "15/07/2013") %></p>
<p class="note" style="margin-bottom: 0%;text-indent: 2em; text-align: justify;font-weight:bold; margin-left:15%; margin-right:15%;"><%= I18n.t("termos.index.nota.item_1") %></p>


<div id ="claus_1" > &nbsp </div>
<h2 id="claus_1_inner"><%= I18n.t("termos.index.table_of_contents.claus_1") %></h2>
<div class="row-fluid">
   <p style="text-indent: 3em; text-align: justify;"><%= I18n.t("termos.index.claus_1.item_1") %></p>
</div>
<br/>


<div id ="claus_2" > &nbsp </div>
<h2 id="claus_2_inner"><%= I18n.t("termos.index.table_of_contents.claus_2") %></h2>
<div class="row-fluid">
   <p style="text-indent: 3em; text-align: justify;"><%= I18n.t("termos.index.claus_2.item_1") %></p>
</div>
<br/>


<div id ="claus_3" > &nbsp </div>
<h2 id="claus_3_inner"><%= I18n.t("termos.index.table_of_contents.claus_3") %></h2>
<div class="row-fluid">
   <p style="text-indent: 3em; text-align: justify"><%= I18n.t("termos.index.claus_3.item_1") %></p>
</div>
<br/>


<div id ="claus_4" > &nbsp </div>
<h2 id="claus_4_inner"><%= I18n.t("termos.index.table_of_contents.claus_4") %></h2>
<div class="row-fluid">
   <p style="text-indent: 3em; text-align: justify;"><%= I18n.t("termos.index.claus_4.item_1") %></p>
</div>
<br/>


<div id ="claus_5" > &nbsp </div>
<h2 id="claus_5_inner"><%= I18n.t("termos.index.table_of_contents.claus_5") %></h2>
<div class="row-fluid">
   <p style="text-indent: 3em; text-align: justify;"><%= I18n.t("termos.index.claus_5.item_1") %></p>
   <p style="text-indent: -1.3em; text-align: justify;font-weight:normal; margin-left:6.9%; margin-right:2%;"><%= I18n.t("termos.index.claus_5.item_2") %></p>
   <p style="text-indent: -1.3em; text-align: justify;font-weight:normal; margin-left:6.9%; margin-right:2%;"><%= I18n.t("termos.index.claus_5.item_3") %></p>
   <p style="text-indent: -1.3em; text-align: justify;font-weight:normal; margin-left:6.9%; margin-right:2%;"><%= I18n.t("termos.index.claus_5.item_4") %></p>
</div>
<br/>


<div id ="claus_6" > &nbsp </div>
<h2 id="claus_6_inner"><%= I18n.t("termos.index.table_of_contents.claus_6") %></h2>
<div class="row-fluid">
   <p style="text-indent: 3em; text-align: justify;"><%= I18n.t("termos.index.claus_6.item_1") %></p>
</div>
<br/>

<div id ="claus_7" > &nbsp </div>
<h2 id="claus_7_inner"><%= I18n.t("termos.index.table_of_contents.claus_7") %></h2>
<div class="row-fluid">
 <p style="text-indent: 3em; text-align: justify;"><%= I18n.t("termos.index.claus_7.item_1") %></p>
 <table border="1" bordercolor="black" style="background-color:white" width="100%" cellpadding="1" cellspacing="1">
	<tr  style="background-color:#86B66A;font-weight:bold;" align="center">
		<td>Descrição</td>
		<td>Plano 1</td>
		<td>Plano 2</td>
		<td>Plano 3</td>
		<td>Plano 4</td>
	</tr>
	<tr align="center">
		<td align="left">Quantidade de contas processadas, identificadas no conteúdo de cada arquivo validado</td>
		<td>de 0 à 9.999 contas</td>
		<td>de 10.00 à 24.999 contas</td>
		<td>de 25.00 À 49.999 contas</td>
		<td>50.000 ou mais contas</td>
	</tr>
	<tr align="center">
		<td align="left">Arquivos validados com êxito</td>
		<td>Sem limite</td>
		<td>Sem limite</td>
		<td>Sem limite</td>
		<td>Sem limite</td>
	</tr>
	<tr align="center">
		<td align="left">Valor individual por cada conta processada, identificada no conteúdo do arquivo validado.</td>
		<td>R$ 0,16</td>
		<td>R$ 0,14</td>
		<td>R$ 0,12</td>
		<td>R$ 0,10</td>
	</tr>
	<tr align="center">
		<td align="left">Valor da Franquia mínima mensal</td>
		<td>R$ 500,00</td>
		<td>R$ 1400,00</td>
		<td>R$ 3000,00</td>
		<td>R$ 5000,00</td>
	</tr>
	<tr align="center">
		<td align="left">Quantidade de Contas da Franquia Mínima</td>
		<td>3.125</td>
		<td>10.000</td>
		<td>25.000</td>
		<td>50.000</td>
	</tr>
</table>

<br/>
<!--
 <center> <img src="/img/Planos(2).png"></center>
 <p style="text-indent: -1.3em; text-align: justify;font-weight:normal; margin-left:6.9%; margin-right:2%;"><%= I18n.t("termos.index.claus_7.item_2") %></p>
 <p style="text-indent: -1.3em; text-align: justify;font-weight:normal; margin-left:6.9%; margin-right:2%;"><%= I18n.t("termos.index.claus_7.item_3") %></p>  
 -->
 <p style="text-indent: 3em; text-align: justify;"><%= I18n.t("termos.index.claus_7.item_2") %></p>
 <p style="text-indent: 3em; text-align: justify;"><%= I18n.t("termos.index.claus_7.item_3") %></p>
<br/>
<center><h1>Exemplos</h1></center>
<br/>
<center><h3>Valores correspondentes ao Plano 1</h3></center>
  <table border="1" bordercolor="black" style="background-color:white" width="100%" cellpadding="1" cellspacing="1">
	<tr  style="background-color:#86B66A;font-weight:bold;" align="center">
		<td>Período</td>
		<td>Contas Processadas</td>
		<td>Franquia Mínima</td>
		<td>Contas Extras</td>
		<td>Valor individual por cada conta processada</td>
		<td>Valor Extra</td>
		<td>Valor à pagar</td>
	</tr>
	<tr align="center">
		<td align="left">Mês 1</td>
		<td>2.000</td>
		<td>R$500,00</td>
		<td>0</td>
		<td>R$0,16</td>
		<td>R$0,00</td>
		<td>R$500,00</td>
	</tr>
	<tr align="center">
		<td align="left">Mês 2</td>
		<td>3.000</td>
		<td>R$500,00</td>
		<td>0</td>
		<td>R$0,16</td>
		<td>R$0,00</td>
		<td>R$500,00</td>
	</tr>
	<tr align="center">
		<td align="left">Mês 3</td>
		<td>4.000</td>
		<td>R$500,00</td>
		<td>875</td>
		<td>R$0,16</td>
		<td>R$140,00</td>
		<td>R$640,00</td>
	</tr>
	<tr align="center">
		<td align="left">Mês 4</td>
		<td>8.000</td>
		<td>R$500,00</td>
		<td>4.875</td>
		<td>R$0,16</td>
		<td>R$780,00</td>
		<td>R$1280,00</td>
	</tr>
</table>

<br/>
 <center><h3>Valores correspondentes ao Plano 2</h3></center>
   <table border="1" bordercolor="black" style="background-color:white" width="100%" cellpadding="1" cellspacing="1">
	<tr  style="background-color:#86B66A;font-weight:bold;" align="center">
		<td>Período</td>
		<td>Contas Processadas</td>
		<td>Franquia Mínima</td>
		<td>Contas Extras</td>
		<td>Valor individual por cada conta processada</td>
		<td>Valor Extra</td>
		<td>Valor à pagar</td>
	</tr>
	<tr align="center">
		<td align="left">Mês 1</td>
		<td>7.000</td>
		<td>R$1400,00</td>
		<td>0</td>
		<td>R$0,14</td>
		<td>R$0,00</td>
		<td>R$1400,00</td>
	</tr>
	<tr align="center">
		<td align="left">Mês 2</td>
		<td>9.000</td>
		<td>R$1400,00</td>
		<td>0</td>
		<td>R$0,14</td>
		<td>R$0,00</td>
		<td>R$1400,00</td>
	</tr>
	<tr align="center">
		<td align="left">Mês 3</td>
		<td>11.000</td>
		<td>R$1400,00</td>
		<td>1.000</td>
		<td>R$0,14</td>
		<td>R$140,00</td>
		<td>R$1540,00</td>
	</tr>
	<tr align="center">
		<td align="left">Mês 4</td>
		<td>20.000</td>
		<td>R$1400,00</td>
		<td>10.000</td>
		<td>R$0,14</td>
		<td>R$1400,00</td>
		<td>R$2800,00</td>
	</tr>
</table>
<br/>
<br/>
 <p style="text-indent: 3em; text-align: justify;"><%= I18n.t("termos.index.claus_7.item_4") %></p>
 <p style="text-indent: 3em; text-align: justify;"><%= I18n.t("termos.index.claus_7.item_5") %></p>
</div>
<br/>

<div id ="claus_8" > &nbsp </div>
<h2 id="claus_8_inner"><%= I18n.t("termos.index.table_of_contents.claus_8") %></h2>
<div class="row-fluid">
   <p style="text-indent: 3em; text-align: justify;"><%= I18n.t("termos.index.claus_8.item_1") %></p>
</div>
<br/>


<div id ="claus_9" > &nbsp </div>
<h2 id="claus_9_inner"><%= I18n.t("termos.index.table_of_contents.claus_9") %></h2>
<div class="row-fluid">
   <p style="text-indent: 3em; text-align: justify;"><%= I18n.t("termos.index.claus_9.item_1") %></p>
   <p style="text-indent: -1.3em; text-align: justify;font-weight:normal; margin-left:6.9%; margin-right:2%;"><%= I18n.t("termos.index.claus_9.item_2") %></p>
   <p style="text-indent: -1.3em; text-align: justify;font-weight:normal; margin-left:6.9%; margin-right:2%;"><%= I18n.t("termos.index.claus_9.item_3") %></p>
   <p style="text-indent: -1.3em; text-align: justify;font-weight:normal; margin-left:6.9%; margin-right:2%;"><%= I18n.t("termos.index.claus_9.item_4") %></p>
   <p style="text-indent: -1.3em; text-align: justify;font-weight:normal; margin-left:6.9%; margin-right:2%;"><%= I18n.t("termos.index.claus_9.item_5") %></p>
</div>
<br/>


<div id ="claus_10" > &nbsp </div>
<h2 id="claus_10_inner"><%= I18n.t("termos.index.table_of_contents.claus_10") %></h2>
<div class="row-fluid">
   <p style="text-indent: 3em; text-align: justify;"><%= I18n.t("termos.index.claus_10.item_1") %></p>
   <p style="text-indent: -1.3em; text-align: justify;font-weight:normal; margin-left:6.9%; margin-right:2%;"><%= I18n.t("termos.index.claus_10.item_2") %></p>
   <p style="text-indent: -1.3em; text-align: justify;font-weight:normal; margin-left:6.9%; margin-right:2%;"><%= I18n.t("termos.index.claus_10.item_3") %></p>
   <p style="text-indent: -1.3em; text-align: justify;font-weight:normal; margin-left:6.9%; margin-right:2%;"><%= I18n.t("termos.index.claus_10.item_4") %></p>
   <p style="text-indent: -1.3em; text-align: justify;font-weight:normal; margin-left:6.9%; margin-right:2%;"><%= I18n.t("termos.index.claus_10.item_5") %></p>
   <p style="text-indent: -1.3em; text-align: justify;font-weight:normal; margin-left:6.9%; margin-right:2%;"><%= I18n.t("termos.index.claus_10.item_6") %></p>
</div>
<br/>


<div id ="claus_11" > &nbsp </div>
<h2 id="claus_11_inner"><%= I18n.t("termos.index.table_of_contents.claus_11") %></h2>
<div class="row-fluid">
   <p style="text-indent: 3em; text-align: justify;"><%= I18n.t("termos.index.claus_11.item_1") %></p>
</div>

<br/>

<div id ="claus_12" > &nbsp </div>
<h2 id="claus_12_inner"><%= I18n.t("termos.index.table_of_contents.claus_12") %></h2>
<div class="row-fluid">
   <p style="text-indent: -1.3em; text-align: justify;font-weight:normal; margin-left:6.9%; margin-right:2%;"><%= I18n.t("termos.index.claus_12.item_1") %></p>
   <p style="text-indent: -1.3em; text-align: justify;font-weight:normal; margin-left:6.9%; margin-right:2%;"><%= I18n.t("termos.index.claus_12.item_2") %></p>
   <p style="text-indent: -1.3em; text-align: justify;font-weight:normal; margin-left:6.9%; margin-right:2%;"><%= I18n.t("termos.index.claus_12.item_3") %></p>
   <p style="text-indent: -1.3em; text-align: justify;font-weight:normal; margin-left:6.9%; margin-right:2%;"><%= I18n.t("termos.index.claus_12.item_4") %></p>
   <p style="text-indent: -1.3em; text-align: justify;font-weight:normal; margin-left:6.9%; margin-right:2%;"><%= I18n.t("termos.index.claus_12.item_5") %></p>
</div>
<br/>


<div id ="claus_13" > &nbsp </div>
<h2 id="claus_13_inner"><%= I18n.t("termos.index.table_of_contents.claus_13") %></h2>
<div class="row-fluid">
   <p style="text-indent: 3em; text-align: justify;"><%= I18n.t("termos.index.claus_13.item_1") %></p>
</div>
<br/>


<div id ="claus_14" > &nbsp </div>
<h2 id="claus_14_inner"><%= I18n.t("termos.index.table_of_contents.claus_14") %></h2>
<div class="row-fluid">
   <p style="text-indent: 3em; text-align: justify;"><%= I18n.t("termos.index.claus_14.item_1") %></p>
</div>
<br/>


<div id ="claus_15" > &nbsp </div>
<h2 id="claus_15_inner"><%= I18n.t("termos.index.table_of_contents.claus_15") %></h2>
<div class="row-fluid">
   <p style="text-indent: 3em; text-align: justify;"><%= I18n.t("termos.index.claus_15.item_1") %></p>
</div>
<br/>


<div id ="claus_16" > &nbsp </div>
<h2 id="claus_16_inner"><%= I18n.t("termos.index.table_of_contents.claus_16") %></h2>
<div class="row-fluid">
   <p style="text-indent: 3em; text-align: justify;"><%= I18n.t("termos.index.claus_16.item_1") %></p>
</div>
<br/>


<div id ="claus_17" > &nbsp </div>
<h2 id="claus_17_inner"><%= I18n.t("termos.index.table_of_contents.claus_17") %></h2>
<div class="row-fluid">
   <p style="text-indent: -1.3em; text-align: justify;font-weight:normal; margin-left:6.9%; margin-right:2%;"><%= I18n.t("termos.index.claus_17.item_1") %></p>
   <p style="text-indent: -1.3em; text-align: justify;font-weight:normal; margin-left:6.9%; margin-right:2%;"><%= I18n.t("termos.index.claus_17.item_2") %></p>
   <p style="text-indent: -1.3em; text-align: justify;font-weight:normal; margin-left:6.9%; margin-right:2%;"><%= I18n.t("termos.index.claus_17.item_3") %></p>
   <p style="text-indent: -1.3em; text-align: justify;font-weight:normal; margin-left:6.9%; margin-right:2%;"><%= I18n.t("termos.index.claus_17.item_4") %></p>
   <p style="text-indent: -1.3em; text-align: justify;font-weight:normal; margin-left:6.9%; margin-right:2%;"><%= I18n.t("termos.index.claus_17.item_5") %></p>
   <p style="text-indent: -1.3em; text-align: justify;font-weight:normal; margin-left:6.9%; margin-right:2%;"><%= I18n.t("termos.index.claus_17.item_6") %></p>
   <p style="text-indent: -1.3em; text-align: justify;font-weight:normal; margin-left:6.9%; margin-right:2%;"><%= I18n.t("termos.index.claus_17.item_7") %></p>
   <p style="text-indent: -1.3em; text-align: justify;font-weight:normal; margin-left:6.9%; margin-right:2%;"><%= I18n.t("termos.index.claus_17.item_8") %></p>
   <p style="text-indent: -1.3em; text-align: justify;font-weight:normal; margin-left:6.9%; margin-right:2%;"><%= I18n.t("termos.index.claus_17.item_9") %></p>
</div>
<br/>


<div id ="claus_18" > &nbsp </div>
<h2 id="claus_18_inner"><%= I18n.t("termos.index.table_of_contents.claus_18") %></h2>
<div class="row-fluid">
   <p style="text-indent: 3em; text-align: justify;"><%= I18n.t("termos.index.claus_18.item_1") %></p>
</div>

<br/><br/><br/><br/>