    <!--Menu --> 
	<div class="accordion-group">
		<div class="accordion-heading">
			<center> <a class="accordion-toggle" data-parent="#accordion" href="#top">Cláusulas</a></center>
		</div>
		<div id="collapseOne" class="accordion-body collapse <%=is_group_active?("termos") %>">
		  <div class="accordion-inner">
			<ul>
			  <li> <%= link_to(I18n.t("termos.index.table_of_contents.claus_1"), "termos#claus_1") %></a></li>
			  <li> <%= link_to(I18n.t("termos.index.table_of_contents.claus_2"), "termos#claus_2") %></a></li>
			  <li> <%= link_to(I18n.t("termos.index.table_of_contents.claus_3"), "termos#claus_3") %></a></li>
			  <li> <%= link_to(I18n.t("termos.index.table_of_contents.claus_4"), "termos#claus_4") %></a></li>
			  <li> <%= link_to(I18n.t("termos.index.table_of_contents.claus_5"), "termos#claus_5") %></a></li>
			  <li> <%= link_to(I18n.t("termos.index.table_of_contents.claus_6"), "termos#claus_6") %></a></li>
			  <li> <%= link_to(I18n.t("termos.index.table_of_contents.claus_7"), "termos#claus_7") %></a></li>
			  <li> <%= link_to(I18n.t("termos.index.table_of_contents.claus_8"), "termos#claus_8") %></a></li>
			  <li> <%= link_to(I18n.t("termos.index.table_of_contents.claus_9"), "termos#claus_9") %></a></li>
			  <li> <%= link_to(I18n.t("termos.index.table_of_contents.claus_10"), "termos#claus_10") %></a></li>
			  <li> <%= link_to(I18n.t("termos.index.table_of_contents.claus_11"), "termos#claus_11") %></a></li>
			  <li> <%= link_to(I18n.t("termos.index.table_of_contents.claus_12"), "termos#claus_12") %></a></li>
			  <li> <%= link_to(I18n.t("termos.index.table_of_contents.claus_13"), "termos#claus_13") %></a></li>
			  <li> <%= link_to(I18n.t("termos.index.table_of_contents.claus_14"), "termos#claus_14") %></a></li>
			  <li> <%= link_to(I18n.t("termos.index.table_of_contents.claus_15"), "termos#claus_15") %></a></li>
			  <li> <%= link_to(I18n.t("termos.index.table_of_contents.claus_16"), "termos#claus_16") %></a></li>
			  <li> <%= link_to(I18n.t("termos.index.table_of_contents.claus_17"), "termos#claus_17") %></a></li>
			  <li> <%= link_to(I18n.t("termos.index.table_of_contents.claus_18"), "termos#claus_18") %></a></li>
			</ul>
		  </div>
		</div>
	</div>